
img{
    max-width: 100%;
}

.header-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.menu{
    display: inline-block;
}
.menu li{
    display: inline-block;
    padding: 0px 20px;
}

.banner-main{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.banner-main .content .position{
    border-left: 2px solid rgb(255, 171, 27);
    padding-left: 15px;
}

.btn-solid{
    color: #FFD43A;;
    background-color: #6F34FE;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px 15px;
}

.btn-solid:hover{
    color: #6F34FE;;
    background-color: #FFD43A;
    transition: all 300ms linear;
}

.btn-solid[disabled]{
    color: #979797;;
    background-color: #e6e6e6;
    cursor: not-allowed;
}

.banner-main .thumb img{
    min-width: 550px;
}